body {
  background-color: white;
  margin: 0 20% 0 20%;
}

#main {
  border: 1px solid black;
  max-width: 800px;
  min-height: 600px;
  margin-bottom: 1em;
}

#main img {
  height: 800px;
  width: 600px;
}

#slider {
  width: 650px;
  min-height: 100px;
  list-style-type: none;  
  display: inline;
  clear: both;
}

.thumb-image{
  max-height: 100px;
  list-style-type: none; 
}

.thumbnail{
  width: 150px;
  height: 100px;
}

#container {
  padding-top: 1em;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.left {
  margin-left: 250px;
  width: 150px;
  border: 1px solid black;
  display: inline-block;
}

.left:hover {
  background-color: black;
}

.right {  
  width: 150px;
  border: 1px solid black;
  display: inline-block;
}

.right:hover {
  background-color: black;
}